<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a ng-link="['Products']" class="navbar-brand">Hello, Webpack!</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a ng-link="['Products']">Products</a>
            </li>
            <li>
                <a ng-link="['About']">About us</a>
            </li>
            <li>
                <a ng-link="['Contacts']">Contacts</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ng-link="['Auth']">
                    <span class="glyphicon glyphicon-lock"></span>
                    Authorize
                </a>
            </li>
            <li>
                <a style="cursor: pointer" ng-click="$ctrl.logout()">
                    <span class="glyphicon glyphicon-lock"></span>
                    Logout
                </a>
            </li>
            <li>
                <a ng-link="['Products']">
                    <span class="glyphicon glyphicon-user"></span>
                    Dashboard
                </a>
            </li>
            <li>
                <a ng-link="['Admin']">
                    <span class="glyphicon glyphicon-scale"></span>
                    Admin panel
                </a>
            </li>
        </ul>
    </div>
</nav>