<div class="panel-group">
    <div class="panel panel-default" ng-repeat="product in $ctrl.products" ng-link="['Product',{id: product.id}]">
        <div class="panel-heading">{{product.name}} (ID: {{product.id}})
        </div>
        <div class="panel-body media">
            <div class="media-left">
                <img ng-src="{{product.imgUrl}}" ng-alt="{{product.name}}" class="media-object img-thumbnail">
            </div>
            <div class="media-body">
                <h2 class="media-heading">
                    {{product.name}}
                    <span class="badge"><span class="glyphicon glyphicon-usd"></span>{{product.price}}</span>
                    <span class="badge"><span class="glyphicon glyphicon-star"></span> {{product.rating}}</span>
                </h2>
                <p>
                    {{product.description}}
                </p>
            </div>
        </div>
    </div>
</div>