<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                AUTH TEST
            </div>
            <div class="panel-body">
                <p>
                    <strong>USER:</strong> {{$ctrl.user}}
                </p>
                <strong>TEST auth:</strong>
                <ul>
                    <li>Login: admin, password: 111</li>
                    <li>Login: user, password: 222</li>
                </ul>
                <strong>TEST reg:</strong>
                <ul>
                    <li>Login: new, password: 333</li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="btn-group">
                    <a ui-sref="Admin" class="btn btn-xs btn-default">Admin page (only admin)</a>
                    <a ui-sref="AdminProducts" class="btn btn-xs btn-default">Admin Products page (only admin$ for checking child routes)</a>
                    <a ui-sref="Profile" class="btn btn-xs btn-default">Profile page (only authorized)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <app-auth-login></app-auth-login>
    </div>
    <div class="col-md-6">
        <app-auth-reg></app-auth-reg>
    </div>
</div>