<div class="row">
    <div class="col-xs-12">
        <h1>Hello, Webpack!</h1>
        <p>Nostrud sit ea sit non elit. Elit proident aliquip sit ea. Consequat nisi minim adipisicing aute sunt ipsum quis
            pariatur proident. Aliquip in mollit eu laboris ipsum aliqua deserunt. Et qui exercitation officia et sunt.</p>
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Ad ipsum ad anim qui et sint ad et mollit do excepteur elit pariatur. Deserunt anim do anim deserunt aliquip culpa
            duis nulla. Est aliquip commodo magna aliquip aute qui ea sint. Amet non duis Lorem consectetur non est minim
            amet. Dolore anim in id minim do.</p>
        <h2>Test</h2>
        <p>Eu exercitation incididunt esse aliqua dolor. Esse sunt reprehenderit reprehenderit nostrud irure ullamco do tempor.
            Consequat incididunt id duis adipisicing sunt minim id proident exercitation excepteur. Consequat ipsum dolore
            ea mollit dolore mollit et ad exercitation. Proident voluptate commodo non culpa culpa consectetur irure duis
            nulla. Id nulla esse sint nisi sint sint sint.</p>
        <p>Laboris ad eiusmod ut nulla Lorem do aute. Duis duis deserunt dolore laborum enim laborum aliquip ad incididunt commodo
            magna nostrud Lorem mollit. Commodo do quis occaecat minim aliquip. Nulla cillum culpa ad velit eu duis mollit
            cupidatat sunt reprehenderit occaecat dolor amet est. Pariatur pariatur velit irure magna pariatur ut in nostrud
            nisi quis fugiat. Cillum Lorem ipsum aliquip minim laborum proident velit tempor incididunt aliquip in exercitation
            amet. Mollit consectetur officia laboris consequat.</p>
    </div>
</div>
<button type="button" class="btn btn-block btn-default" ng-click="$ctrl.testModal()">Open test modal</button>
<app-comments comment-form="$ctrl.review" comments="$ctrl.reviews" send="$ctrl.sendReview($ctrl.review)"></app-comments>