<div class="about">
    <div class="title">Dolore velit cupidatat labore minim fugiat eu labore nostrud proident laboris tempor id.</div>
    <div class="about__body">
        <p>Eu ad anim officia laboris nisi nisi do ex mollit ipsum laborum Lorem. Non veniam consectetur incididunt eiusmod
            reprehenderit labore qui esse irure ipsum eu commodo. Magna proident incididunt aliqua nulla fugiat do ea veniam
            do deserunt nulla. Aliqua aute duis elit adipisicing eu adipisicing deserunt sit nostrud amet fugiat esse. Elit
            excepteur irure ut irure. Lorem magna proident dolore quis est enim et id non sunt mollit.</p>
        <p>
            Culpa voluptate exercitation anim deserunt ea. Dolor tempor eu sunt fugiat sunt nulla tempor mollit nostrud laboris voluptate.
            Elit nisi laborum nulla commodo do nostrud voluptate. Non proident ex occaecat esse ullamco consequat aliqua
            eiusmod fugiat labore laboris deserunt nisi minim. Eiusmod eu aute excepteur reprehenderit occaecat exercitation.
            Voluptate consectetur irure cillum tempor.
        </p>
    </div>
</div>
<app-comments></app-comments>