<div class="comments">
    <div class="title_md">Comments</div>
    <ul class="comments-list">
        <li class="comments-item">
            <div class="comments__title">
                Culpa officia quis occaecat consectetur reprehenderit duis cupidatat excepteur sit tempor aliquip sunt exercitation.
            </div>
            <div class="comments__author">John Doe</div>
            <div class="comments__body">
                Amet ex amet eiusmod culpa anim mollit. Ullamco tempor consequat ipsum duis. Ut sunt commodo cupidatat pariatur excepteur
                ad qui consectetur cupidatat dolore velit esse. Labore do fugiat dolore deserunt fugiat aute non enim ea.
            </div>
        </li>
        <li class="comments-item">
            <div class="comments__title">
                Culpa officia quis occaecat consectetur reprehenderit duis cupidatat excepteur sit tempor aliquip sunt exercitation.
            </div>
            <div class="comments__author">John Doe</div>
            <div class="comments__body">
                Amet ex amet eiusmod culpa anim mollit. Ullamco tempor consequat ipsum duis. Ut sunt commodo cupidatat pariatur excepteur
                ad qui consectetur cupidatat dolore velit esse. Labore do fugiat dolore deserunt fugiat aute non enim ea.
            </div>
        </li>
    </ul>
    <from class="comments-form">
        <label for="name">Name:</label>
        <input type="text" id="name" />
        <label for="email">Email:</label>
        <input type="email" id="email" />
        <label for="title">Title:</label>
        <input type="text" id="title">
        <label for="comment">Comment:</label>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        <button type="submit" class="button">Send</button>
    </from>
</div>