.sidebar {
    width: 268px;
    float: left;
    &-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &-item {
        margin-bottom: 15px;
    }
    &__title {
        background: lime;
        padding: 2px;
        margin-bottom: 5px;
    }
    &__body {
        padding: 10px 0;
        border-bottom: 1px dashed lime;
    }
}