.title {
    font-size: 32px;
    border-bottom: 1px solid lime;
    margin-bottom: 10px;
    font-weight: bold;
}

.button {
    cursor: pointer;
    padding: 10px 20px;
    background: lime;
    color: white;
    border: none;
    font-weight: bold;
    &:hover {
        background: orange;
    }
}