<div class="modal" id="modal" style="display:block">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" ng-if="$ctrl.test">Test</div>
            <h1>{{$ctrl.testTime}}</h1>
            {{5+5}}
            <h2>Counter: {{$ctrl.counter}}</h2>
            <div class="modal-body">Occaecat proident veniam id quis excepteur cupidatat mollit cillum ullamco irure anim do mollit.</div>
            <button type="button" class="btn btn-large btn-block btn-default" ng-click="$ctrl.close()">button</button>

        </div>


    </div>
</div>