.footer {
    background: #0B0B0E;
    color: lime;
    padding: 30px;
    height: $footer-height;
    margin-top: -$footer-height;
    &-sample {
        &-list {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        &-item {
            display: inline-block;
            margin-right: 10px;
            &:before {
                content: '-';
                color: lime;
                margin-right: 4px;
            }
        }
    }
    &__title {
        font-size: 20px;
    }
}