<footer class="footer">
    <div class="container">
        <div class="footer__title">Lorem ipsum dolor sit amet</div>
        <ul class="footer-sample-list">
            <li class="footer-sample-item">Lorem</li>
            <li class="footer-sample-item">Ipsum</li>
            <li class="footer-sample-item">Dolor</li>
            <li class="footer-sample-item">Sit</li>
            <li class="footer-sample-item">Amet</li>
            <li class="footer-sample-item">+(380) 97 555 55 55</li>
        </ul>
    </div>
</footer>