<div class="alert alert-warning" ng-if="$ctrl.cart.length == 0">
    Nothing to order
</div>
<div class="panel panel-success" ng-if="$ctrl.cart.length > 0">
    <div class="panel-heading">
        Order
    </div>
    <form class="panel-body" name="ordForm">
        <h4 class=" text-success">Total price: ${{$ctrl.total()}}</h4>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" id="name" placeholder="Enter your name" class="form-control" ng-required="true
       " ng-model="$ctrl.orderForm.name">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input type="email" id="name" placeholder="Enter your email" class="form-control" ng-required="true
       " ng-model="$ctrl.orderForm.email">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-earphone"></span>
                </span>
                <input type="text" id="phone" placeholder="Enter your phone number" class="form-control
       " ng-required="true" ng-model="$ctrl.orderForm.phone">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-map-marker"></span>
                </span>
                <input type="text" id="address" placeholder="Enter your address" class="form-control" ng-required="true
       " ng-model="$ctrl.orderForm.address">
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-block btn-success" ng-disabled="ordForm.$invalid" ng-click="$ctrl.confirmOrder()">
            <span class="glyphicon glyphicon-ok"></span>
            Send order!
        </button>
    </form>
</div>
<div class="panel-group">
    <div class="panel panel-default" ng-repeat="product in $ctrl.cart track by $index">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                    <img ng-src="{{product.imgUrl}}" alt="{{product.name}}" class="img-responsive">
                </div>
                <div class="col-sm-10">
                    <h4>
                        {{product.name}}
                        <a ng-click="$ctrl.removeFromCart($index)" class="pull-right">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </a>
                    </h4>
                    <strong>${{product.price}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>